<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê Top</title>
    <!--Favicon-->
    <link href="img/logo.png" rel="icon" type="image/x-icon" />
    <!--Importar fontes do Google-->
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <!--Importar folha CSS-->
    <link href="css/index.css" rel="stylesheet" type="text/css">

    <!-- CONCLUIR -->
    @if(!"Home".Equals(@Model.NomeView))
    {
        <link href=""rel="stylesheet" type="text/css">
        <link href=""rel="stylesheet" type="text/css">
        <link href=""rel="stylesheet" type="text/css">
    }
    <!-- Importar o Font Awesome para o projeto -->
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="section-container">

                <a href="#">
                    <img src="img/logo.png" alt="Logo Rolê Top" title="Logo">
                </a>
                <ul>
                    <li id="bt-mobile-menu">
                        <!-- HTML para colocar os ícones do FA -->
                        <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>

                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index" class="active">Principal</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#sobre'>Sobre</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#localizacao'>Localização</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Convites")'>Convites</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "ProximosEventos")'>Próximos Eventos</a></li>
                    
                    
                    
                    @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                    {
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Login")#login'>Login</a></li>
                    }
                    else
                    {
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Historico">Pedidos</a></li>
                    }
                    <li><a id="bt-peca_ja" href='@Url.Action("Index","Pedido")'>Peça Já</a></li>
                </ul>
            </div>
        </nav>
        <!-- Não esquecer de realocar aquia logo area -->
        @if("Home".Equals(@Model.NomeView))
        {
            Html.RenderPartial("_HeaderHomePage")
        }
    </header>